<h1>{{ title }}</h1>
<div *ngFor="let income of incomes">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Income</mat-card-title>
      <mat-card-subtitle>Income id: {{ income.id }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/income-small.jpg" alt="My income">
    <mat-card-content>
      <p>Category: {{ income.category }}</p>
      <p>Amount: {{ income.amount }} {{ income.currency }}</p>
      <p>Person: {{ income.person }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>



<!--
  var incomes = List.of(new Income(), new Income());

  for (var income: incomes) {
    // <p>{{ income.id }} - {{ income.amount}}</p>
  }
-->
